lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
coverage
*.tgz
npm-debug.log
node_modules
build
lib
*~
*.[ao]
*.swp
*.swo
.directory
*.png
*.eps
*.svg
npm-debug.log
node_modules
.coveralls.yml
coverage
build
