lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
lib/binding
coverage
*.tgz
npm-debug.log
node_modules
build
*~
*.[ao]
*.swp
*.swo
.directory
*.png
npm-debug.log
node_modules
.coveralls.yml
