name: Pull request

on:
  pull_request:
    branches:
      - master
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    strategy:
      matrix:
        os: [windows-2019, ubuntu-latest, macos-latest]
        # list only the earliest and latest node versions supported
        # this makes PR builds more efficient
        node-version: [14, 16, 18]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install yarn
      - name: Install dependencies
        run: yarn

      - name: Run linter
        run: yarn lint

      - name: Build binaries
        run: yarn build

      - name: Run tests
        run: yarn test
